<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description | default .Summary }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ .Params.og_image | default "/images/default_image.jpg" }}" />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description | default .Summary }}" />
<meta name="twitter:image" content="{{ .Params.og_image | default "/images/default_image.jpg" }}" />