/* projects */
#projects .section-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5rem;
}

#projects .section-intro-content {
    opacity: 0.8;
}


#projects h3 {
    color: var(--text-color) !important;
    font-size: 2.5rem;
    font-weight: 800;
}

#projects a {
    text-decoration: none;
    color: var(--text-color) !important;
}

#projects .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#projects {
    background-color: var(--secondary-color) !important;
}

/* #projects .card {
    overflow: hidden;
    border-radius: 0rem;
    border: none !important;
    flex-direction: column;
    justify-content: flex-end;
} */

/* #projects .card-img {
    object-fit: cover;
} */

/* #projects .card a:hover {
    opacity: 1;
} */

/* #projects .card .card-head {
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}

#projects .card .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#projects .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#projects .card-title {
    font-size: 1.75rem;
    font-weight: 800;
}

#projects .card-text {
    font-size: 1rem;
    font-weight: 300;
} */

#projects .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}

#projects .float-end .btn:focus {
    box-shadow: none !important;
}