{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
    <div class="container px-3 px-md-5">
        <div class="section-intro">
            <div class="col-12">
                <h3>{{ .Site.Params.projects.title | default "Projects" }}</h3>
                <scan class="section-intro-content">{{ .Site.Params.projects.content | default "Projects" }}</scan>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 gy-4">
            {{ range .Site.Params.projects.items }}
            <div class="card col bg-transparent border-0">
                <a href="{{ .url }}">
                    <img src="{{ .image }}" class="card-img-top rounded-3">
                </a>
                <div class="card-body justify-content-start px-0">
                    <h5 class="card-title fs-4 fw-semibold">{{ .title }}</h5>
                    <p class="card-text fw-normal">{{ .content }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}