{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
    <div class="container px-3 px-md-5">
        <div class="section-intro">
            <div class="col-12">
                <h3>{{ .Site.Params.projects.title | default "Projects" }}</h3>
                <scan class="section-intro-content">{{ .Site.Params.projects.content | default "Projects" }}</scan>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 gy-4">
            {{ range .Site.Params.projects.items }}
            {{ with (site.GetPage .) }}
            {{ partial "sections/project-card.html" . }}
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}