{{ define "head" }}
<meta name="description" content="{{ .Params.description }}">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/single.css">

<!-- fontawesome -->
<script defer src="{{ .Site.BaseURL }}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<section id="single">
  <div class="container">
    <div class="row justify-content-center">
      {{ if .Site.Params.singlePages.sidebar | default true}}
      <div class="col-sm-12 col-md-12 col-lg-9">
      {{ else }}
      <div class="col-sm-12 col-md-12 col-lg-12">
      {{ end }}
        <div class="pr-lg-4">
          <div class="title mb-5">
            {{- partial "sections/breadcrumbs.html" . }}
            <h1 class="mb-4">{{ .Title }}</h1>
            <div class="text-center">
              {{ .Params.author }} 
              <!-- <small>|</small>
              {{ .Date.Format (.Site.Params.datesFormat.article | default "Jan 2, 2006") }} -->

              {{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
              <span id="readingTime">
                {{ .Site.Params.singlePages.readTime.content | default "min read" }}
              </span>
              {{ end }}
            </div>
          </div>
          {{ if .Params.image }}
          <div class="featured-image">
            <img class="img-fluid mx-auto d-block" src="{{ .Params.image }}" alt="{{ .Title }}">
          </div>
          {{ end }}
          {{ if .Params.project_info  | default true}}
          <ul class="project-info-list">
            {{ if .Params.project_title }}
            <li>
              <span class="icon-cell"><i class="fa fa-lightbulb" aria-hidden="true"></i></span>
              <span><strong>Title</strong>&nbsp;&nbsp;{{ .Params.project_title }}</span>
            </li>
            {{ end }}
            {{ if .Params.project_size }}
            <li>
              <span class="icon-cell"><i class="fa fa-user-group" aria-hidden="true"></i></span>
              <span><strong>Project Size</strong>&nbsp;&nbsp;{{ .Params.project_size }}</span>
            </li>
            {{ end }}
            {{ if .Params.project_duration }}
            <li>
              <span class="icon-cell"><i class="fa fa-clock" aria-hidden="true"></i></span>
              <span><strong>Duration</strong>&nbsp;&nbsp;{{ .Params.project_duration }}</span>
            </li>
            {{ end }}
            {{ if .Params.project_timeframe }}
            <li>
              <span class="icon-cell"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              <span><strong>Timeframe</strong>&nbsp;&nbsp;{{ .Params.project_timeframe }}</span>
            </li>
            {{ end }}
            {{ if .Params.project_lang }}
            <li>
              <span class="icon-cell"><i class="fa fa-language" aria-hidden="true"></i></span>
              <span><strong>Language</strong>&nbsp;&nbsp;{{ .Params.project_lang }}</span>
            </li>
            {{ end }}
            {{ if .Params.project_type }}
            <li>
              <span class="icon-cell"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
              <span><strong>Project Type</strong>&nbsp;&nbsp;{{ .Params.project_type }}</span>
            </li>
            {{ end }}
            {{ if .Params.project_summary }}
            <li>
              <span class="icon-cell"><i class="fa fa-align-left" aria-hidden="true"></i></span>
              <span>
                <strong>Summary</strong>
                <p class="summary">
                  {{ .Params.project_summary }}
                </p>
              </span>
            </li>
            {{ end }}
          </ul>
          {{ end }}
          <article class="page-content  p-2">
          {{ .Content | emojify }}
          </article>
        </div>
      </div>
      {{ if .Site.Params.singlePages.sidebar | default true}}
      <div class="col-sm-12 col-md-12 col-lg-3">
        <div id="stickySideBar" class="sticky-sidebar">
          {{ if .Params.toc | default true}}
          <aside class="toc">
              <h5>
                {{ .Site.Params.terms.toc | default "Table Of Contents" }}
              </h5>
              <div class="toc-content">
                {{.TableOfContents}}
              </div>
          </aside>
          {{ end }}

          {{ if .Params.tags }}
          <aside class="tags">
            <h5>{{ .Site.Params.terms.tags | default "Tags" }}</h5>
            <ul class="tags-ul list-unstyled list-inline">
              {{range .Params.tags}}
              <li class="list-inline-item"><a href="{{`tags` | absURL}}/{{.| urlize}}" target="_blank">{{.}}</a></li>
              {{end}}
            </ul>
          </aside>
          {{end}}

          {{ if .Params.socialShare | default false }}
          <aside class="social">
            <h5>{{ .Site.Params.terms.social | default "Social" }}</h5>
            <div class="social-content">
              <ul class="list-inline">
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://twitter.com/share?text={{ .Title }}&url={{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href="https://api.whatsapp.com/send?text={{ .Title }}: {{ .Site.Params.hostName }}{{ .Permalink | absURL }}">
                    <i class="fab fa-whatsapp"></i>
                  </a>
                </li>
                <li class="list-inline-item text-center">
                  <a target="_blank" href='mailto:?subject={{ .Title }}&amp;body={{ .Site.Params.terms.emailText | default "Check out this site" }} {{ .Site.Params.hostName }}{{ .Permalink | absURL }}'>
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
              </ul>
            </div>
          </aside>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9 p-4">
        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
  <button class="p-2 px-3" onclick="topFunction()" id="topScroll">
    <i class="fas fa-angle-up"></i>
  </button>
</section>

{{ if or (.Site.Params.singlePages.scrollprogress.enable | default true) (.Params.enableScrollProgress) }}
<div class="progress">
  <div id="scroll-progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<Script src="{{ .Site.BaseURL }}/js/scrollProgressBar.js"></script>
{{ end }}

<script>
  var topScroll = document.getElementById("topScroll");
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topScroll.style.display = "block";
    } else {
      topScroll.style.display = "none";
    }
  }

  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }

  // To set height of sticky sidebar dynamically
  let stickySideBarElem = document.getElementById("stickySideBar");
  let stickyNavBar = {{ .Site.Params.navbar.stickyNavBar.enable | default false }};
  if(stickyNavBar) {
    let headerElem = document.getElementById("profileHeader");
    let headerHeight = headerElem.offsetHeight + 15;
    stickySideBarElem.style.top = headerHeight + "px";
  } else {
    stickySideBarElem.style.top = "50px";
  }
</script>

{{ if or (.Site.Params.singlePages.readTime.enable | default true) (.Params.enableReadingTime) }}
<script src="{{ .Site.BaseURL }}/js/readingTime.js"></script>
{{end}}

{{ end }}
