{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="tag-page">
    <!-- <h2 class="text-center pb-4">{{ .Title }}</h2> -->
    <h1 class="text-center section-title mb-4">{{ .Title }}</h1>
    <div class="d-flex flex-wrap justify-content-start gap-2">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <a href="{{ $taxonomy.Page.RelPermalink }}" class="h6 border border-2 rounded-pill px-3 py-2 ">
          # {{ $name }} ({{ len $taxonomy.Pages }})
        </a>
      {{ end }}
    </div>
</div>
{{ end }}