{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="css/index.css" media="all">
<link rel="stylesheet" href="css/project.css" media="all">
<link rel="stylesheet" href="css/experiences.css" media="all">
<!-- <link rel="stylesheet" href="css/projects.css" media="all">
<link rel="stylesheet" href="css/softskill.css" media="all"> -->

<!-- fontawesome -->
<script defer src="{{ .Site.BaseURL }}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/experiences.html" . -}}
{{ end }}